body{
    /* background-color: rgb(255, 255, 255); */
    /* text-align: center; */
    background: linear-gradient(120deg,rgb(255, 210, 114),rgb(255, 249, 240),rgb(247, 220, 164));
    height: 100vh;

    
}


.about-heading{
    font-size: 120px;
    color: rgba(56, 34, 2, 0.753);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* border: 2px solid black; */
    text-align: center;
    
    margin-top: 250px;
   
}
.para{
    /* border: 2px solid black; */
    font-size: 40px;
    color: rgb(168, 73, 5);
    /* padding: 30px; */
    width: 100%;
    text-align: left;
    padding: 10px;
    
    
    
}
.para-2{
    /* border: 2px solid black; */
    font-size: 40px;
    color: rgb(168, 73, 5);
    width: 100%;
    text-align: left;
    padding: 10px;
    /* padding: 30px; */
}
.aboutus-para{
    
    width: 50%;
    margin-left: 730px;
    margin-right: 660px;
    

}
.aboutus-para-2{
    width: 50%;
    margin-left: 730px;
    margin-right: 660px;
    
}
.para::first-letter,.aboutus-para-2::first-letter{
    font-size: 100px;
    color: rgb(114, 36, 5);
}

