*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
    
}
.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 37, 0);
}

.heading-title{
    font-size: 40px;
    /* border: 2px solid black; */
    padding: 20px;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 253, 249);
    font-weight: 800;
}
.nav-unorder{
     display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}
    


